.post{
    /* display: flex; */
    max-width: 550px;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
    border: 0.5px solid #dbdbdb;
    padding: 20px;
    border-radius: 20px;
}


.post__form > form{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.post__form > form > input{
    height: 30px;
    border: 0.4px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    /* text-align: center; */
    outline: none;
}

.post__form > form > button{
    border: none;
    height: 30px;
    border-radius: 20px;
    background: #0095f6;
    cursor: pointer;
    outline: none;
    color: whitesmoke;
}

.post__Comment > .comment{
    display: flex;
    flex-direction: column;
}