.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    box-shadow: 3px 3px 3px 3px #eeeeee;
    position: relative;
}

.header__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.header__logo > h3{
    font-family: 'Grand Hotel', cursive;
    font-weight: 500;
    font-size: 40px;
}

.header__search{
    display: flex;
}

.header__search > input{
    width: 200px;
    height: 20px;
    text-align: center;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.header__item{
    margin-left: 10px;
}