.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-bottom: 0.1px solid lightgray;
    z-index: 999;
    background-color: white;
}

.header__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.header__logo > h3{
    font-family: 'Grand Hotel', cursive;
    font-weight: 500;
    font-size: 40px;
}

.header__search{
    display: flex;
}

.header__search > input{
    width: 250px;
    height: 20px;
    text-align: center;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    outline: none;
}

.header__item{
    margin-left: 15px;
}

Link > .header__item { 
    color: black;
}